@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0f101c; /*PRESO DA EPICODE*/
  color: white;
  max-width: 100%;
  margin: 0 auto;
}

.general-container {
  height: 100vh;
  max-width: 65%;
  margin: 0 auto;
  background-image: url(assets/bg.jpg);
  background-size: cover;
}

.main {
  margin: 0 auto;
  height: 100%;
  max-width: auto;
  padding: 0px 90px;
}

.row { /*CONTIENE LOGO E A SECONDA PAGINA IL TIMER*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  width: auto;
  margin: 0 auto;
  height: 15%;
}

.logo {
  width: 18%;
}

.logo img {
  height: auto;
  max-width: 100%;
}

.title-line {  /*CONTENITORE TITOLO*/
  margin: 0 auto;
  width: auto;
  padding: 20px 0px;
}

h1 {
  font-size: 5vw;
  font-family: "Outfit", sans-serif;
  font-weight: normal;
  line-height: 4vw;
  opacity: 0.9;
}

.instructions-line {  /*CONTENITORE ISTRUZIONI*/
  padding: 20px 0px;
  font-family: "Inter", sans-serif;
  font-size: 1vw;
  opacity: 0.9;
  font-weight: 200;
}

.instructions-line h2 {
  font-size: 2vw;
  color: #d20094;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}

ul {
  padding: 30px
}

li {
  padding-top: 6px;
}

#bottom {
  font-family: "Inter", sans-serif;
  font-size: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

#check {
  display: flex;
  flex-direction: row;
}

#check p {
  padding: 0 15px;
}

#checkbox {
  transform: scale(1.6);
  accent-color: #00ffff;
}

#start-button {
  background-color: #00ffff;
  border: none;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  padding: 0.7em 2.5em;
}

#start-button:enabled {
  box-shadow: 0 0 2em 0 #00ffff;
}

/*QUI COMINCIA LA PAGINA 2 TEST.HTML*/

.timer-container {
  width: 100px;
  height: 100px;
}

.timer-svg {
  width: 200px;
  height: 200px;
}

.timer-circle {
  fill: none;
  stroke: #007bff;
  stroke-width: 10;
  stroke-dasharray: 435; /* lunghezza del tratto del cerchio */
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s linear; /* Ridotto da 1s a 0.5s */
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.timer-text {
  font-family: Arial, sans-serif;
  font-size: 20px;
  fill: #000;
  text-anchor: middle;
  transition: font-size 0.5s linear; /* Ridotto da 1s a 0.5s */
}


#quiz-container{
  height: auto;
  margin: 0 auto;

}

#question {
  text-align: center;
  font-size: 2.5vw;
  font-family: "Outfit", sans-serif;
  font-weight: normal;
  opacity: 0.9;
  height: 8vw;
  max-width: 100%;
}

#answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  height: 150px;
  padding-top: 80px;
}

#answers button {
  background-color: #23294f;
  opacity: 0.7;
  height: fit-content;
  border-radius: 30px;
  border-style: outset;
  border-color: white;
  font-family: "Outfit", sans-serif;
  font-size: 1.5vw;
  color: white;
  font-weight: normal;
  padding: 1vw 2vw;
  margin: 0.5vw 1vw;
  cursor: pointer;
  vertical-align: center;
}

#answers button:hover {
  background: linear-gradient(180deg,
      rgba(210, 0, 148, 1) 36%,
      rgba(107, 38, 87, 1) 100%);
}

#questionCountLabel {
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  height: 80x;
  font-size: 1.2vw;
  opacity: 0.9;
  letter-spacing: 1px;
}


#results {
  font-size: 2vw;
  max-width: 100%;
  font-family: "Outfit", sans-serif;
  font-weight: normal;
  opacity: 0.9;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.results:last-child {
  display: inline-block;
}

.chart-container {
  max-width: 200px;
  height: 200px;
  padding-bottom: 40px;
  display: inline-block;
  box-sizing: border-box;
}
/* NON SERVONO*/
/*#rate {
  display: flex;
  flex-direction: row-reverse; 
  justify-content: flex-end;
}

.star {
    margin-bottom: 80px;
  }
  
  .stella {
    width: 50px;
    margin: 5px;
    filter: brightness(20%);
  }
  
  .active,
  .stella:hover,
  .stella:nth-of-type(0):hover ~ .stella,
  .stella:nth-of-type(1):hover ~ .stella, 
  .stella:nth-of-type(2):hover ~ .stella, 
  .stella:nth-of-type(3):hover ~ .stella, 
  .stella:nth-of-type(4):hover ~ .stella, 
  .stella:nth-of-type(5):hover ~ .stella, 
  .stella:nth-of-type(6):hover ~ .stella, 
  .stella:nth-of-type(7):hover ~ .stella, 
  .stella:nth-of-type(8):hover ~ .stella, 
  .stella:nth-of-type(9):hover ~ .stella, 
  .stella:nth-of-type(10):hover ~ .stella {
    filter: none;
    transform: scale(115%);
    cursor: pointer;
  }*/ /*NON SERVONO*/
